.root {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid var(--palette-commons-black);
    background: var(--palette-background);
    color: var(--palette-text)
}

.root:hover:not(.disabled) {
    background: var(--palette-commons-grey);
    color: var(--palette-commons-white);
}

.root:active {
    border-color: var(--palette-commons-grey);
    color: var(--palette-commons-grey);
    background: var(--palette-commons-white);
}

.primary {
    border: 1px solid var(--palette-primary-main);
    background: var(--palette-background);
    color: var(--palette-primary-main)
}

.fullWidth {
    width: 100%;
}

.disabled {
    border-color: var(--palette-commons-grey);
    color: var(--palette-commons-grey);
    background: var(--palette-commons-white);
}
